* {
    box-sizing: border-box; 
    font-size: 0px;
}
.columns {
  padding: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  height: 100px;
  width: 100%;
  border: solid 5px white;
}

.pink {
  background-color: #F5C6D6;
}

.hotpink {
  background-color: #EE2E84;
  width: 25%;
}

.blue {
  background-color: #85CFD8;
  width: 50%;
}

.green {
  background-color: #8DC63F;
  width: 75%;
}

.orange {
  background-color: #E76E34;
  width: 25%;
}